@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family:roboto,arial,Helvetica, sans-serif;
}



.cont{
    display: flex;
}
.mn{
    height: auto;
    width: 300px;
    background-color: rgb(46, 43, 43);
    color: white;
}

/*bem vindo*/

.bem-vindo{
    text-align:center;
    margin-top: 10px;
}



h3{
    margin: 0px;
}
.cima{
    height: 20px;
    background-color: rgb(46, 115, 175);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ic{
    margin-top: -5px;
    background-color: aliceblue;
    height: 30px;
    border-radius: 50%;
}
.dt{
    margin-top: 10px;
    background-color: rgb(46, 115, 175);
    text-align: center;
    padding: 10px;
    
}
.img-icon{
    margin-bottom: -5px;
    margin-right: 5px;
    height: 23px;
}

ul{
    
    padding-left: 10px;
}

li{
    list-style-type: none;
    margin-top: 20px;

}

.link{
    text-decoration: none;
    font-size: 15pt;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
}
.link:hover{
    border-bottom: 1px solid white;
    color: yellow;
}




/*painel Princiapl*/

.painel-principal{
    background-color: rgb(252, 252, 252);
    flex: 1;
    height: auto;
    text-align: center;
}


.painel-segun{
    background-color: #1e1f20e5;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    height: 530px;
    overflow-y: auto;
    overflow-x: hidden;
}
.titulo-public{
    color: rgb(46, 115, 175);
    font-weight: bold;
}

.camp-publicado{
    background-color: blueviolet;
    padding: 20px;
    margin: 10px;
    height: 350px;
    color: white;
}


.btn-excluir{
    color: white;
    background-color: rgb(29, 27, 27);
    outline: none;
    border: none;
    width: 300px;
    border-radius: 5px;
    height: 40px;
    font-family: roboto;
    font-size: 12pt;
}
.btn-excluir:hover{
    background-color: rgb(66, 44, 90);
}







/* Formulario do campeonato*/

#inicio-form{
    display: flex;
    justify-content: center;
    color: white;

}

.form-painel{
    display: none;
}
form{
    text-align: left;
    padding: 10px;
}
input{
    font-family:Roboto, Arial, Helvetica, sans-serif;
    height: 30px;
    width: 400px;
    margin: 2px;
    border: none;
    outline: none;
    padding: 5px;
}
select{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    height: 25px;
    width: 200px;
    border: none;
    outline: none;
}
textarea{
    border: none;
    outline: none;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    padding: 5px;
}

.arquivo{
    font-family:Roboto, Arial, Helvetica, sans-serif;
    height: 25px;
    width: 400px;
    margin: -3px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 5px;
    color: white;
    
}
.label{
    display: flex;
    justify-content: flex-end;
}
.btn-salvar{
    height: 30px;
    width: 200px;
    border: none;
    outline: none;
    background-color: blueviolet;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}
.btn-salvar:hover{
    background-color: rgb(28, 151, 189);
}

#camp-sumir{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}